body {
    background-image: url("../../Content/res/961.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.height {
    height: 100vh;
}


.search {
    position: relative;
    box-shadow: 0px 0px 50px rgba(51, 51, 51, .4);
}

    .search input {
        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
    }


        .search input:focus {
            box-shadow: none;
            border: 2px solid blue;
        }

    .search .fa-search {
        position: absolute;
        top: 20px;
        left: 16px;
    }

    .search button {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;
    }
